NEXT_PUBLIC_SUPABASE_URL=https://xxxotlqmqnvqwqiimbqm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh4eG90bHFtcW52cXdxaWltYnFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMDE2NjYsImV4cCI6MjEwNDg3NzY2Nn0.stYK-5VQzKAm7aN06rBWnDynwv_-SZlsoxYJ_wZaDz4
SUPABASE_SERVICE_KEY=your-service-role-key-here
NEXT_PUBLIC_BASE_URL=https://protonvpn.vercel.app